.nav_portfoil {
  display: flex;
  margin-bottom: 50px;

  flex-wrap: wrap;
}
.nav_portfoil_items:nth-child(-n + 3) {
  margin-bottom: 15px;
}
.nav_btn {
  padding: 6px 22px;
  font-family: $font-roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-exclusiv;
  background-color: #f5f4fa;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.nav_portfoil_items:not(:last-child) {
  margin-right: 8px;
}
.nav_btn:hover,
.nav_btn:focus {
  background-color: $color-accent;
  color: #ffffff;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-contacts .link:focus,
.nav-contacts .link:hover {
  color: $color-accent;
  fill: $color-accent;
}
.nav-contacts .link {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
@media screen and (min-width: 646px) {
  .nav_portfoil_items:nth-child(-n + 3) {
    margin-bottom: 0;
  }
  .nav_portfoil {
    justify-content: center;
  }
}
