$color-accent: #2196f3;
$color-secondary: #757575;
$color-primary: #ffffff;
$color-exclusiv: #212121;
$font-roboto: "Roboto", sans-serif;
$font-releway: "Raleway", sans-serif;
$color-backgraund: #2f303a;
